<blockquote class="quote">
  <p class="quote__text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus
    dolorum tempore earum culpa eaque sequi molestias aut natus illo iure?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="/images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Cena</h3>
        <p class="quote__organization">WWE Inc.</p>
      </div>
    </div>
  </footer>
</blockquote>
